
* {
  box-sizing: border-box;
}

div#container {
  background-color: #F5D38E;
  position: relative;
  border: 2px solid black;
  top: 50px;
  margin: 1px;
  height: 200px;
}

.row {
	width: 100%;
	background-color: grey;
}

section {
	width: 150px;
	height: 23px;
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: grey;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
}

p {
	margin-top: 50px;
	width: 90%;
	height: 120px;
	color: grey;
	font-family: Helvetica;
	color: black;
	margin-right: auto;
	margin-left: auto;
}


@media (min-width: 992px) {
	.col-lg-4 {
		float: left;
		background-color: #F5D38E;
	}

	.col-lg-4 {
		width: 33%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
		float: left;
		width: 48%;
		background-color: #F5D38E;
	}
}

@media (max-width: 767px) {
	.col-sm-12 {
		float: left;
		width: 100%;
		background-color: #F5D38E;
		
	}


}

